body {
  font-family: Arial, sans-serif;
  background-image: url('../img/tela_inicial.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  color: #333;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -50px;
  padding: 10px 20px;
 
}

.header .logo img {
  height: 100px;
}
.search {
  position: relative;
  width: 300px; 
}

.header .search input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 40px;
  border: 1px solid #ccc;
}
.search i {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc; 
  font-size: 20px; 
  cursor: pointer;
}
.header .buttons {
  display: flex;
  gap: 10px;
}

.header .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;

}

.header .games {
  background-color: #e74c3c;
  
}

.header .login {
  background-color: #2ecc71;
  
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.content h1 {
    color: #d4a41a;
    font-size: 36px;
    margin-bottom: 10px;
}

.content h2 {
    color: #d4a41a;
    font-size: 24px;
    margin-bottom: 20px;
}

.group-item a{
  text-decoration: none;
  color: black;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-width: 600px;
    margin: 0 auto; 
}


.game-box {
    background-color: #b78c42;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50px;
    font-size: 40px;
    cursor: pointer;
    width: 180px; 
    height: 180px; 
    text-align: center; 
    line-height: 180px;
}

.game-grid .game-box:nth-child(odd) {
    margin-right: -100px; 
    margin-left: 100px;
}

.game-box:hover {
    background-color: #bf8623
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
}

.header-conteudos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

h2 {
  font-size: 32px;
  color: #34495e;
  font-weight: bold;
}

.form-conteudo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group label {
  align-self: center;
  font-size: 16px;
  color: #7f8c8d;
}

.form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  background-color: #ecf0f1;
}

.btn-adicionar {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d4a41a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
  background-color: #2980b9;
}

.content-group, .category-group {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.group-item {
  padding: 10px;
}

.group-item a {
  color: #3498db;
  text-decoration: none;
  font-size: 18px;
}

.group-item a:hover {
  text-decoration: underline;
}

.conteudo-item, .categoria-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-delete{
  border: none;
  background-size: contain;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease;
  color: red;
}

#btn-delete:hover{
  transform: scale(1.2);
}

.field{
  min-width: 65%;
}

.form-group{
  display: flex;
  justify-content: space-between;
}